@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 2rem;
}

#header {
    width: 100vw;
    height: 10vh;
    background-color: hsl(180, 70%, 80%)
}

#main-display {
    width: 100vw;
    height: 90vh;
    background-color: hsl(160, 70%, 80%)
}

#main-display img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.display-text{
    font-weight: bold;
}

.colorful{
    font-style: italic;
    color: hsl(0, 100%, 45%)
}