@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Nanum+Gothic&family=Patrick+Hand&family=Tajawal:wght@200&display=swap');
/* Google fonts url: https://fonts.google.com/ */

* {
    margin: 0;
    /* ^^ Margin controls the space AROUND an element*/
    padding: 0;
    /* ^^ Padding controls the space between the edge of an element and the content it is 
    displaying */

    /* box-sizing: content-box; */
    /* ^^ All elements are given a default "box-sizing" attribute of "content-box". The total
    width and height of elements with the "content-box" sizing attribute is equal to the width 
    and or height we give to the element, plus whatever border and padding we give to the element.*/

    box-sizing: border-box;
    /* ^^ Setting the box-sizing attribute of all our elements to "border-box" will 
    often make styling easier, as these elements will never expand beyond the specific width
    or height that we give them, regardless of whether or not we give them padding and a border.*/
}

body {
    /* three main ways to select colors: hsl, rgba, and hex */
    background-color: hsl(184, 31%, 46%);
}

h1 {
    font-family: Caveat;
}

/* body h1{
    font-family: 'Times New Roman';
    color: blue;
} */

#specific-header {
    color: hsl(240, 50%, 40%);
    background-color: hsl(60, 20%, 80%);
    /* font-family: Helvetica; */
    border: solid;
    margin: 10px /*top*/ 80px /*right*/ 20px /*bottom*/ 10px /*left*/;
    /* margin: 10px 40px;
    margin: 10px; */
    /*padding follows same rules as margin*/
    /* padding: 10px 40px 20px 90px;
    padding: 20px 40px; 
    padding: 10px; */
}

#info-section {
    background-color: hsl(100, 20%, 80%);
    /*padding follows same rules as margin*/
    padding: 10px 40px 20px 90px;
    /* padding: 20px 40px;  */
    /* padding: 10px; */
}

.info-text {
    font-family: Helvetica;
    font-size: 20px;
}

.bold-text {
    font-weight: bold;
}

#info-section img{
    background-color: hsl(180, 50%, 50%);
    /* can set heights using percentages, viewport fractions, and pixels */
    height: 20vh;
    /* width: 50vw; */
    /* object-fit: cover; */
    /* object-fit: contain; */
    /* object-fit: fill; */
    /* object-position: 50% 50%; */
    /* object-position: 0% 0%; */
    /* object-position: 30% 30%;  */
}

#mountain-pic {
    height: 200vh;
}   

/* #info-section #mountain-pic {
    height: 30vh;
} */