@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    display: grid;
    grid-template-rows: 10vh 80vh 100vh 10vh;
    background-color: red;
    margin: 0;
}

h1 {
    font-family: Nanum Gothic;
    text-align: center;
}

#header {
     grid-row: 1 / span 1;
     background-color: hsl(200, 50%, 50%);

     display: grid;
     grid-template-rows: 10vh;
     align-items: center;
}

#header h1 {
    grid-row: 1 / span 1;
}

#main {
    grid-row: 2 / span 1;
    background-color: hsl(200, 50%, 20%);
    align-items: center;
    display: grid;
    grid-template-rows: 10vh 60vh 10vh;
    margin: 1vh;
}

#main h1{
    color: white;
    /* text-align: center; */
}

#main p{
    grid-row: 3 / span 1;
    background-color: hsl(120, 50%, 90%)
}

#image-container{
    grid-row: 2 / span 1;
    display: grid;
    grid-template-rows: 60vh;
    align-items: center;
    background-color: hsl(200, 80%, 90%);
}

.display-image {
    justify-self: center;
    grid-row: 1 / span 1;
    max-height: 30vh;
    padding: 2px;
    /* max-width: 45vh; */
}

#image-sizing{
    grid-row: 3 / span 1;
    background-color: hsl(120, 90%, 90%);
}

.distorted-image {
    width: 10%;
    height: 40vh;
}

.cropped-image {
    width: 10%;
    height: 40vh;
    object-fit: cover;
}

.cropped-positioned-image {
    width: 50%;
    height: 50vh;
    object-fit: cover;
    object-position: 10% 100%;
}