@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    background-color: hsl(150, 36%, 66%);
    margin: 0;
    /* padding: 10px; */

    display: grid;
    grid-template-rows: 10vh 50vh 40vh; /*vh stands for "viewport height"*/
    grid-template-columns: 100vw; /*vw stands for "viewport width"*/
}



#header {
     grid-row: 1 / span 1;
     background-color: hsl(200, 62%, 88%);

     display: grid;
     grid-template-rows: 10vh;
     align-items: center;
}

#header h1 {
    grid-row: 1 / span 1;
    font-size: 5vh;
}

h1 {
    font-family: Nanum Gothic;
    color: black;
    font-size: 4vh;
    text-align: center;
}

#main {
    grid-row: 2 / span 1;
    background-color: hsl(200, 90%, 20%);
    align-items: center;
    display: grid;
    grid-template-rows: 10vh 40vh;
}

#main h1{
    color: white;
}

#image-container{
    grid-row: 2 / span 1;
    display: grid;
    grid-template-rows: 40vh;
    align-items: center;
    background-color: hsl(120, 80%, 90%);
}

.display-image {
    justify-self: center;
    grid-row: 1 / span 1;
    height: 50%;
}

#footer {
    grid-row: 3 / span 1; 
    display: grid;
    grid-template-rows: 40vh;
    grid-template-columns: 25% 50% 25%; 
    justify-content: center;
}

#test {
    grid-column: 2 / span 1;
    justify-self: center;
    height: 50%;
    background-color: hsl(0, 50%, 90%);
    padding: 10px;
    border: solid;
    margin: 10px;
} 
