@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    /* ^^ Margin controls the space AROUND an element*/
    padding: 0;
    /* ^^ Padding controls the space between */

    /* box-sizing: content-box; */
    /* ^^ All elements are given a default "box-sizing" attribute of "content-box". The total
    width and height of elements with the "content-box" sizing attribute is equal to the width 
    and or height we give to the element, plus whatever border and padding we give to the element.*/

    box-sizing: border-box;
    /* ^^ Setting the box-sizing attribute of all our elements to "border-box" will 
    often make styling easier, as these elements will never expand beyond the specific width
    or height that we give them, regardless of whether or not we give them padding and a border.*/
}

body {
    background-color: hsl(150, 36%, 66%);

    display: grid;
    grid-template-rows: 10vh 50vh 40vh; /*vh stands for "viewport height"*/
    grid-template-columns: 100vw; /*vw stands for "viewport width"*/
}

h1 {
    font-family: Nanum Gothic;
    color: black;
    font-size: 4vh;
    text-align: center;
}

#header {
     grid-row: 1 / span 1;
     background-color: hsl(200, 62%, 88%);

     display: grid;
     grid-template-rows: 10vh;
     align-items: center;
}

#header h1 {
    grid-row: 1 / span 1;
    font-size: 5vh;
}


#main {
    grid-row: 2 / span 1;
    background-color: hsl(200, 90%, 20%);
    align-items: center;
    display: grid;
    grid-template-rows: 10vh 40vh;
}

#main h1{
    color: white;
}

#image-container{
    grid-row: 2 / span 1;
    display: grid;
    grid-template-rows: 40vh;
    align-items: center;
    background-color: hsl(120, 80%, 90%);
}

.display-image {
    justify-self: center;
    grid-row: 1 / span 1;
    height: 50%;
}

#footer {
    grid-row: 3 / span 1; 
    display: grid;
    grid-template-rows: 40vh;
    grid-template-columns: 25% 50% 25%; 
    justify-content: center;
}

#test {
    grid-column: 2 / span 1;
    justify-self: center;
    height: 50%;
    background-color: hsl(0, 50%, 90%);
    padding: 10px;
    border: solid;
    margin: 10px;
} 
