/* * {
    background-color: teal;
}

h1 {
    background-color: red;
}

p {
    background-color: blue;
}

.info-p {
    background-color: turquoise;
}

#green-bg-p{
    background-color: green;
} */

#walrus-info {
    width: 500px;
    height: 800px;
    object-fit: cover;
}

 #walrus-img {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    /* margin: 20px 10px 30px 50px;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 20px; */
}

#header {
    height: 100px;
}
